In [1]:
import pandas as pd 
import numpy as np

In [2]:
## data ingestion
df=pd.read_csv('data/final_datasets.csv')
df.head()

,Title,Company,Skills,Location,URL
0,Data Scientist,TaskUs,"Machine Learning,SQL, NoSQL,Python,AWS, Deep L...","Gurugram, Haryana",https://jobs.eu.humanly.io/jobs/dc0f3ab1-f2e6-...
1,Associate Data Scientist,Blazeclan Technologies,"Data Analytics,EDA, Cloud Native Application d...","Pune, Maharashtra",https://in.indeed.com/jobs?q=associate+data+sc...
2,Data Science IC3,Microsoft,"Statistical Analysis,Research Knowledge,Modeli...","Hyderabad, Telangana",https://jobs.careers.microsoft.com/us/en/job/1...
3,Inventory Planning Data Scientist Manager,Hewlett Packard,"Data Pipeline Design, Development,Sales and Pr...","Bangalore, Karnataka",https://www.respondhr.com/135386773?source=Indeed
4,Manager_Lead_Data Scientist,Vodafone,"Big Data,AWS,Diagnostic Models,machine learnin...",India,https://opportunities.vodafone.com/job/PUNE-Ma...

In [3]:
df.isnull().sum()

Title       0
Company     0
Skills      1
Location    0
URL         0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     199 non-null    object
 1   Company   199 non-null    object
 2   Skills    198 non-null    object
 3   Location  199 non-null    object
 4   URL       199 non-null    object
dtypes: object(5)
memory usage: 7.9+ KB

In [5]:
df.duplicated().sum()

0

In [6]:
df.shape

(199, 5)

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(198, 5)

In [9]:
df['Title'].value_counts()

Title
Web Developer                                    17
Data Analyst                                      8
App Developer                                     8
software engineer                                 7
Software Developer                                6
                                                 ..
Senior Analyst- Global Analytics and Insights     1
Lead Product Engineer - Machine Learning          1
Data Scientist Engineer                           1
Lead - BI Data Analyst                            1
Software Engineer III, Full Stack, Google Ads     1
Name: count, Length: 124, dtype: int64

In [10]:
df['Skills'] = df['Skills'].str.lower()

# Display the DataFrame to verify the changes
print(df)

                                             Title                Company   \
0                                   Data Scientist                  TaskUs
1                         Associate Data Scientist  Blazeclan Technologies
2                                 Data Science IC3               Microsoft
3        Inventory Planning Data Scientist Manager         Hewlett Packard
4                      Manager_Lead_Data Scientist                Vodafone
..                                             ...                     ...
194                          AI Research Scientist               mokSa.ai
195                            Lead Data Scientist             MakeMyTrip
196                               Sr Data Engineer  Warner Bros. Discovery
197                          Senior Data Scientist                  Simple
198  Software Engineer III, Full Stack, Google Ads                  Google

                                                Skills  \
0    machine learning,sql, nosql,python,aws, deep l...
1    data analytics,eda, cloud native application d...
2    statistical analysis,research knowledge,modeli...
3    data pipeline design, development,sales and pr...
4    big data,aws,diagnostic models,machine learnin...
..                                                 ...
194  artificial intelligence (ai),computer vision,d...
195  anomaly detection,data science,data analysis,m...
196  amazon kinesis,data analytics,database queries...
197  deep learning,keras,machine learning,natural l...
198  algorithms,back-end web development, data stru...

                        Location  \
0              Gurugram, Haryana
1              Pune, Maharashtra
2           Hyderabad, Telangana
3           Bangalore, Karnataka
4                          India
..                           ...
194  Hyderabad, Telangana, India
195  Bengaluru, Karnataka, India
196  Hyderabad, Telangana, India
197  Bengaluru, Karnataka, India
198  Bengaluru, Karnataka, India

                                                   URL
0    https://jobs.eu.humanly.io/jobs/dc0f3ab1-f2e6-...
1    https://in.indeed.com/jobs?q=associate+data+sc...
2    https://jobs.careers.microsoft.com/us/en/job/1...
3    https://www.respondhr.com/135386773?source=Indeed
4    https://opportunities.vodafone.com/job/PUNE-Ma...
..                                                 ...
194  https://www.linkedin.com/jobs/view/3853478499/...
195  https://www.linkedin.com/jobs/view/3844796688/...
196  https://www.linkedin.com/jobs/view/3832497773/...
197  https://www.linkedin.com/jobs/view/3847479158/...
198  https://www.linkedin.com/jobs/view/3838826351/...

[198 rows x 5 columns]

In [11]:
# Define a dictionary mapping abbreviated forms to full forms
abbreviation_mapping = {
    "ml": "machine learning",
    "dl": "deep learning",
    "ai": "artificial intelligence"
    # Add more mappings as needed
}

# Function to convert abbreviations to full forms within a skill
def convert_abbreviations_to_full_forms(skill):
    # Split the skill into individual words
    words = skill.split(',')
    
    # Iterate through each word and replace the abbreviation with the full form
    for i, word in enumerate(words):
        # Get the lowercase word to match with the abbreviation mapping
        lower_word = word.strip().lower()
        full_form = abbreviation_mapping.get(lower_word, word)  # Get the full form or keep the word unchanged
        words[i] = full_form.strip()
    
    # Join the words back together to form the updated skill
    updated_skill = ', '.join(words)
    return updated_skill

# Apply abbreviation expansion to the 'Skills' column
df['Skills'] = df['Skills'].apply(convert_abbreviations_to_full_forms)

# Convert skills in the 'Skills' column to lowercase
df['Skills'] = df['Skills'].str.lower()

# Display the DataFrame to verify the changes
print(df)

                                             Title                Company   \
0                                   Data Scientist                  TaskUs
1                         Associate Data Scientist  Blazeclan Technologies
2                                 Data Science IC3               Microsoft
3        Inventory Planning Data Scientist Manager         Hewlett Packard
4                      Manager_Lead_Data Scientist                Vodafone
..                                             ...                     ...
194                          AI Research Scientist               mokSa.ai
195                            Lead Data Scientist             MakeMyTrip
196                               Sr Data Engineer  Warner Bros. Discovery
197                          Senior Data Scientist                  Simple
198  Software Engineer III, Full Stack, Google Ads                  Google

                                                Skills  \
0    machine learning, sql, nosql, python, aws, dee...
1    data analytics, eda, cloud native application ...
2    statistical analysis, research knowledge, mode...
3    data pipeline design, development, sales and p...
4    big data, aws, diagnostic models, machine lear...
..                                                 ...
194  artificial intelligence (ai), computer vision,...
195  anomaly detection, data science, data analysis...
196  amazon kinesis, data analytics, database queri...
197  deep learning, keras, machine learning, natura...
198  algorithms, back-end web development, data str...

                        Location  \
0              Gurugram, Haryana
1              Pune, Maharashtra
2           Hyderabad, Telangana
3           Bangalore, Karnataka
4                          India
..                           ...
194  Hyderabad, Telangana, India
195  Bengaluru, Karnataka, India
196  Hyderabad, Telangana, India
197  Bengaluru, Karnataka, India
198  Bengaluru, Karnataka, India

                                                   URL
0    https://jobs.eu.humanly.io/jobs/dc0f3ab1-f2e6-...
1    https://in.indeed.com/jobs?q=associate+data+sc...
2    https://jobs.careers.microsoft.com/us/en/job/1...
3    https://www.respondhr.com/135386773?source=Indeed
4    https://opportunities.vodafone.com/job/PUNE-Ma...
..                                                 ...
194  https://www.linkedin.com/jobs/view/3853478499/...
195  https://www.linkedin.com/jobs/view/3844796688/...
196  https://www.linkedin.com/jobs/view/3832497773/...
197  https://www.linkedin.com/jobs/view/3847479158/...
198  https://www.linkedin.com/jobs/view/3838826351/...

[198 rows x 5 columns]

In [12]:
df.head(5)

,Title,Company,Skills,Location,URL
0,Data Scientist,TaskUs,"machine learning, sql, nosql, python, aws, dee...","Gurugram, Haryana",https://jobs.eu.humanly.io/jobs/dc0f3ab1-f2e6-...
1,Associate Data Scientist,Blazeclan Technologies,"data analytics, eda, cloud native application ...","Pune, Maharashtra",https://in.indeed.com/jobs?q=associate+data+sc...
2,Data Science IC3,Microsoft,"statistical analysis, research knowledge, mode...","Hyderabad, Telangana",https://jobs.careers.microsoft.com/us/en/job/1...
3,Inventory Planning Data Scientist Manager,Hewlett Packard,"data pipeline design, development, sales and p...","Bangalore, Karnataka",https://www.respondhr.com/135386773?source=Indeed
4,Manager_Lead_Data Scientist,Vodafone,"big data, aws, diagnostic models, machine lear...",India,https://opportunities.vodafone.com/job/PUNE-Ma...

In [16]:
def match_skills_with_jobs(extracted_skills, job_dataset):
    matching_urls = []

    # Iterate through each job posting in the dataset
    for index, job in job_dataset.iterrows():
        job_skills = job['Skills']  # Extract skills from the 'Skills' column
        
        # Check if job_skills is a string, otherwise continue to the next row
        if not isinstance(job_skills, str):
            continue

        # Count the number of matching skills between the resume and job posting
        num_matching_skills = sum(skill in job_skills for skill in extracted_skills)

        # If at least two skills match, consider the job relevant and add its URL to the list
        if num_matching_skills >= 2:
            matching_urls.append(job['URL'])

    return matching_urls

# Example usage:
extracted_skills = ['python', 'communication skills']
matching_urls = match_skills_with_jobs(extracted_skills, df)

# Print each URL on a separate line
print("Matching job URLs:")
for url in matching_urls:
    print(url)

Matching job URLs:
https://jobs.thermofisher.com/global/en/job/TFSCGLOBALR01233104EXTERNALENGLOBAL/Senior-Data-Scientist?codes=INDEED
https://in.indeed.com/jobs?q=data+scientist&fromage=1&vjk=1fa7b2f94cac8d6a
https://in.indeed.com/jobs?q=data+scientist&fromage=1&vjk=8c8c1749310e9a7e
https://in.indeed.com/jobs?q=data+analytics&fromage=1&vjk=ca71cb469f9c34a4
https://careers.irissoftware.com/job/Noida-React-Node-AWS-Senior-Engineer-UP/23546544/
https://jobs.webhelp.com/job/phn-phn-1445068/?utm_source=Indeed&utm_medium=organic&utm_campaign=Indeed
https://in.indeed.com/jobs?q=backend+developer&fromage=1&vjk=80cf7c0f5e69e9ad
https://jobs.harman.com/en_US/careers/JobDetail/Data-Scientist-Engineer/19553?jobPipeline=Indeed
https://jobs.concentrix.com/global/en/job/CONCGLOBALR1483811EXTERNALENGLOBAL/Senior-Analyst-Global-Analytics-and-Insights?utm_source=indeed&utm_medium=phenom-feeds
https://unstop.com/competitions/926926/register
https://unstop.com/internships/cloud-support-engineer-internship-adfolks-925854